span {
    color: blue;
}

button {
    background-color: blueviolet;
    border: 2px solid aliceblue;
    padding: 2px;
    margin: 10px;
    border-radius: 10px;
}

img {
    width: 10px;
    height: 20px;
    background-color: pink;
}

.medium {
    background-color: red;
}

div {
    padding: 2px;
    margin: 3px;
    border: 2px solid black;
}

button:hover {
    padding: 3px;
    background: linear-gradient(90deg, rgba(2,0,36,0.8) 0%, rgba(9,9,121,0.5) 75%, rgba(0,212,255,1) 100%);
}

p.special {
    font-size:1.5em;
}

#Something {
    color: red;
}

td, th{
    border: 1px solid black;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 5px 10px;
}

table {
    border-spacing: 0;
    width: 100%;
}

.name{
    width: 20%;;
}

.description{

}

.price {
    width: 250px;
}

.text-right{
    text-align: right;
}

tfoot {
    background-color: lightgrey;
}
tfoot tr th {
    border-top: 10px double black;
}