* {
    margin: 0;
    padding: 0;
}

hr {
    color: lightgray;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

.header {
    height: 60px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ewu {
    color: #A10022;
    margin-left: 1%;
    font-size: 50px;
    font-weight: lighter;
}

.menu {
    margin-right: 1%;
}

.menu_button {
    color: white;
    font-size: 30px;
    background-color: transparent;
    outline: none;
    border: none;
}

.list_button {
    color: white;
    background: linear-gradient(to left, #0099ff 0%, #00cc99 100%);
    width: 200px;
    padding: 5px 5px 5px 5px;
    border-radius: 8px;
}

.button_list {  
    position: absolute; 
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

.button_list_click {
    transform: scaleY(1);
}

.title {
    height: 80px;
    display: flex;
    align-items: center;
}

.jokecard {
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.jokecard_title_background {
    background-color: lightgray;
    height: 60px;
    display: flex;
    align-items: center;
    
}

.jokecard_title_text {
    margin-left: 1%;
}

.jokecard_content {
    margin: 30px 10px 30px 10px;
}

.jokecard_button_display {
    height: 60px;
    display: flex;
    align-items: center;
    border-top: 1px solid black;
}

.joke_button {
    margin-left: 10px;
    padding: 10px;
}

.another_joke {
    border-radius: 0px;
}

.colored_button {
    background: linear-gradient(to left, #0099ff 0%, #00cc99 100%);
}