@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="/js/index.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <input class="form-control mb-3" id="guess" type="text" />
        <button onclick="checkWord()" id="guess-btn" class="btn btn-primary btn-lg">Guess</button>
        <div id="message" class="">Guess a 5 letter word</div>
    </div>

    <div id="result">

    </div>
</div>



